@import "src/utils/variables";

.notification {
  display: flex;
  padding: 6px 6px;
  width: 100%;

  &:first-of-type {
    margin-top: 4px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 120, 0.065);
  }

  .image {

  }

  .content {
    margin-left: 12px;

    .text {
      font-size: 0.96rem;
      color: #2b2b2b;
      display: block;
    }

    .createdAt {
      margin-top: 6px;
      font-size: 0.87rem;
      color: #8e8e8e;
      display: block;
    }
  }
}

.list {
  width: 320px;
  height: 70vh;
  overflow-y: auto;
  margin-top: 4px;
}