backend/node_modules
frontend/node_modules


app/node_modules/**/*
app/.expo/*
app/npm-debug.*
app/*.jks
app/*.p8
app/*.p12
app/*.key
app/*.mobileprovision
app/*.orig.*
app/web-build/
app/.idea

# macOS
.DS_Store


backend/src/config/configFile.json
docs
backend/info.txt