@import "src/utils/variables";

.dashboardProfile {
  background-color: #fff;

  .coverPhoto {
    width: 100%;
    height: 110px;
  }

  .profilePhoto {
    width: $thumbnailImgDimen+22px;
    height: $thumbnailImgDimen+22px;
    background: white; // remove this later
    margin: -33px 0 0 10px;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  .profileName {
    display: inline-block;
    padding: 3px 5px;

    p {
      margin: 0;
    }

    .fullname {
      font-size: 1.2rem;
      color: #000;
      font-weight: 600;
    }

    .username {
      font-size: 0.9rem;
      color: #97a5af;
    }
  }

  .description {
    margin: 0;
    padding: 16px;
  }
}