@import "src/utils/variables";

.dashboard-profile {
  background-color: #fff;

  .cover-photo {
    width: 100%;
  }

  .profile-photo {
    width: $thumbnailImgDimen+22px;
    background: white; // remove this later
    margin: -33px 0 0 10px;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  .profile-name {
    display: inline-block;
    padding: 10px 5px;

    p {
      margin: 0;
    }

    .fullname {
      font-size: 1.2rem;
      color: #000;
      font-weight: 600;
    }

    .username {
      font-size: 0.9rem;
      color: #97a5af;
    }
  }
}