@import "src/utils/variables";

.searchContainer {
  width: $search-width;
  max-width: $max-search-width;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .searchBox {
    width: 100%;

    .searchIcon {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      i {
        font-size: 1rem;
        color: $btnColor;
        padding: 8px;
      }
    }

    .searchInput {
      width: 100%;
      padding: 8px 16px 8px 30px;
      box-sizing: border-box;
      font-size: 1rem;
      border-radius: $radius;
      border: none;
      outline: none;
      //background-color: rgba(255, 255, 255, 0.19);
    }
  }

  .searchResults {
    width: $search-width;
    max-width: $max-search-width;
    //width: 27%;
    position: absolute;
    top: $navbarHeight;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: rgba(101, 119, 134, 0.2) 0 0 15px, rgba(101, 119, 134, 0.15) 0 0 3px 1px;

    .person {
      margin: 0;
      padding: 10px;
      display: flex;
      cursor: pointer;
      border-bottom: 1px solid #e2e2e2;
      text-decoration: none;
      color: #000;

      &:hover {
        background-color: rgba(0, 0, 120, 0.065);
      }

      img {
        width: $thumbnailImgDimen+-8px;
        height: $thumbnailImgDimen+-8px;
      }

      .details {
        margin-left: 8px;
        display: flex;
        height: auto;
        flex-wrap: wrap;
        align-content: center;

        p {
          margin: 1.2px 0;
          width: 100%;
          font-size: 0.85rem;
        }

        .fullname {

        }

        .username {
          color: #97a5af;
        }
      }
    }

    .loading {
      min-height: 90px;
      padding: 8px 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 1.2rem;
        color: rgb(53, 53, 53);
      }
    }
  }
}


@media screen and (max-width: 1150px) {
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  padding: 0;
  width: 90%;

  .searchBox {
    .searchInput {
      font-size: 0.88rem;
      //width: $search-width-sm;
    }
  }
  .searchResults {
    //width: $search-width-sm;
  }
}

@media screen and (max-width: 400px) {
  .searchBox {
    .searchInput {
      font-size: 0.88rem;
      //width: $search-width-sm+-60px;
    }
  }
  .searchResults {
    //width: $search-width-sm+-60px;
  }
}