@import "src/utils/variables";

.create-post {
  background-color: #fff;
  border-radius: $radius;

  .title {
    width: 100%;
    padding: 9px;
    background-color: #f5f6f7;
    display: block;
    box-sizing: border-box;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: .6px;
    color: #313741;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  .content {
    display: flex;
    padding: 7px 10px;

    .avatar {
      width: $thumbnailImgDimen;
      height: $thumbnailImgDimen;
      margin: 4px 4px;
    }

    .editor {
      width: 100%;
      padding: 2px 7px;
      border: none;
      outline: none;
      min-height: 50px;
      overflow: hidden;
      line-height: 50px;
      font-size: 1.2rem;
      cursor: text;
      border-radius: $radius;
      overflow-wrap: break-word;
    }

    .editor:focus {
      //outline: rgba(97, 218, 251, 0.23) solid 1px;
    }

    .editor.medium {
      line-height: normal;
      padding: 5px 5px;
      font-size: 1.1rem;
    }

    .editor.small {
      line-height: normal;
      font-size: 0.9rem;
    }

    .editor:empty:before {
      content: attr(placeholder);
      color: #a9a9a9;
      line-height: 50px;
      font-size: 1.2rem;
    }
  }

  .preview-images {
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin: 0 2px;
    }
  }

  .publish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 7px 10px;
    margin-top: 4px;
    margin-left: $thumbnailImgDimen + 11px;

    .image {


      #file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      #file + label {
        color: $btnColor;
        font-size: 1.5rem;
        margin: 4px;
        cursor: pointer;
      }

      #file + label:hover {
        color: $btnHoveredColor;
      }
    }

    .post {
      text-align: right;
      display: inline-block;

      .post-btn {
        display: inline-block;
        background-color: $btnColor;
        padding: 8px 20px;
        color: #fff;
        font-size: 0.94rem;
        font-weight: 600;
        border-radius: $radius;
        margin: 4px;
      }

      .post-btn:hover:enabled {
        background-color: $btnHoveredColor;
      }

      .post-btn:disabled {
        background-color: $btnColorOpaque;
      }
    }
  }
}