$radius: 8px;
$thumbnailImgDimen: 44px;
$navbarHeight: 56px;
$btnColor: #5aa6fb;
$btnColorOpaque: rgba(90, 166, 251, 0.71);
$btnHoveredColor: #2c80d0;
#main {
  width: 90%;
  max-width: 600px;
  margin: $navbarHeight+10px auto 0 auto;
}

.create-post {
  background-color: #fff;
  border-radius: $radius;

  .title {
    width: 100%;
    padding: 10px;
    background-color: #f5f6f7;
    display: block;
    box-sizing: border-box;
    font-size: 0.85rem;
    font-weight: 600;
    color: #313741;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  #content {
    display: flex;
    padding: 10px;

    #avatar {
      width: $thumbnailImgDimen;
      height: $thumbnailImgDimen;
      padding: 6px 6px 6px 0;
    }

    #editor {
      width: 100%;
      border: none;
      min-height: 50px;
      overflow: hidden;
      line-height: 50px;
      font-size: 1.2rem;
      cursor: text;
    }

    #editor.medium {
      line-height: normal;
      font-size: 1.1rem;
    }

    #editor.small {
      line-height: normal;
      font-size: 0.9rem;
    }

    #editor:empty:before {
      content: attr(placeholder);
      color: #a9a9a9;
      line-height: 50px;
      font-size: 1.2rem;
    }
  }

  #publish {

    text-align: right;

    #post-btn {
      display: inline-block;
      background-color: $btnColor;
      padding: 8px 20px;
      color: #fff;
      font-size: 0.94rem;
      font-weight: 600;
      border-radius: $radius;
      margin: 4px;
    }

    #post-btn:hover:enabled {
      background-color: $btnHoveredColor;
    }

    #post-btn:disabled {
      background-color: $btnColorOpaque;
    }
  }
}

.news-feed {
  margin-bottom: 10px;

  .post {
    background-color: #fff;
    margin-top: 10px;
    border-radius: $radius;
    padding: 4px;

    .userProfile {
      display: flex;
      padding: 6px;

      #avatar {
        width: $thumbnailImgDimen;
        height: $thumbnailImgDimen;
        margin-right: 6px;
        border-radius: 50%;
      }

      #fullname {
        font-size: 0.9rem;
        padding-top: 3px;
        margin: 0;
      }

      #time-published {
        font-size: 0.75rem;
        display: inline-block;
        color: #9992a0;
        padding: 0;
        margin: 3px 0 0 0;
      }
    }

    .content {
      margin: 0;
      padding: 10px;
    }
  }
}

#nav-container {
  width: 100%;
  background-color: #61dafb;
  position: fixed;
  top: 0;
  height: $navbarHeight;

  #nav-bar {
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width: 1010px) {
      width: 100%;
      padding: 0 40px;
      box-sizing: border-box;
    }
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #search {
      padding: 8px 16px;
      font-size: 1rem;
      border-radius: $radius;
      border: none;
      outline: none;
    }

    #log-out-button {
      padding: 8px 16px;
      font-size: 1rem;
      background-color: #4497f1;
      border-radius: $radius;
      font-weight: 600;
      color: #fff;
    }

    #log-out-button:hover {
      background-color: $btnHoveredColor;
    }

    #log-out-button:disabled {
      background-color: $btnColorOpaque;
    }
  }
}

