$radius: 8px;
$thumbnailImgDimen: 46px;
$navbarHeight: 56px;
$btnColor: #5aa6fb;
$btnColorOpaque: rgba(90, 166, 251, 0.71);
$btnHoveredColor: #2c80d0;
$width-page: 600px;
#main {
  width: 90%;
  max-width: $width-page;
  margin: $navbarHeight+10px auto 0 auto;
}

.create-post {
  background-color: #fff;
  border-radius: $radius;

  .title {
    width: 100%;
    padding: 10px;
    background-color: #f5f6f7;
    display: block;
    box-sizing: border-box;
    font-size: 0.85rem;
    font-weight: 600;
    color: #313741;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  #content {
    display: flex;
    padding: 10px;

    #avatar {
      width: $thumbnailImgDimen;
      height: $thumbnailImgDimen;
      padding: 6px 6px 6px 0;
    }

    #editor {
      width: 100%;
      padding: 5px;
      border: none;
      outline: none;
      min-height: 50px;
      overflow: hidden;
      line-height: 50px;
      font-size: 1.2rem;
      cursor: text;
      border-radius: $radius;
    }

    #editor:focus {
      border: 1px rgba(97, 218, 251, 0.23) solid;
    }

    #editor.medium {
      line-height: normal;
      font-size: 1.1rem;
    }

    #editor.small {
      line-height: normal;
      font-size: 0.9rem;
    }

    #editor:empty:before {
      content: attr(placeholder);
      color: #a9a9a9;
      line-height: 50px;
      font-size: 1.2rem;
    }
  }

  #publish {

    text-align: right;

    #post-btn {
      display: inline-block;
      background-color: $btnColor;
      padding: 8px 20px;
      color: #fff;
      font-size: 0.94rem;
      font-weight: 600;
      border-radius: $radius;
      margin: 4px;
    }

    #post-btn:hover:enabled {
      background-color: $btnHoveredColor;
    }

    #post-btn:disabled {
      background-color: $btnColorOpaque;
    }
  }
}

.news-feed {
  margin-bottom: 10px;

  .post {
    background-color: #fff;
    margin-top: 10px;
    border-radius: $radius;
    padding: 4px;

    .userProfile {
      display: flex;
      padding: 6px 6px 0 6px;

      .avatar {
        width: $thumbnailImgDimen;
        height: $thumbnailImgDimen;
        margin-right: 6px;
        border-radius: 50%;
      }

      .fullname {
        font-size: 0.9rem;
        padding-top: 3px;
        margin: 0;
        display: inline;
      }

      .username {
        font-size: 0.86rem;
        padding-top: 3px;
        margin: 0 0 0 4px;
        color: #9992a0;
        display: inline;
      }

      .time-published {
        font-size: 0.75rem;
        color: #9992a0;
        padding: 0;
        margin: 3px 0 0 0;
        display: block;
      }
    }

    .content {
      margin: 0 0 0 50px;
      padding: 0 10px 10px 10px;
    }

    .interact {
      display: flex;
      justify-content: space-evenly;
      margin: 0 6px;
      font-size: 1.04rem;
      padding: 0 40px;

      span {
        cursor: pointer;
        color: #8ce9fa;
        width: 100%;
        text-align: center;

        i {
          margin-right: 6px;
        }
      }

      span:hover {
        color: #244885;
      }
    }

    .new-comment {
      padding: 0;
      margin: 0;
      min-height: $thumbnailImgDimen+2px;
      display: flex;
      justify-content: center;

      .avatar {
        width: $thumbnailImgDimen+2px;
        height: $thumbnailImgDimen+2px;
        box-sizing: border-box;
        padding: 6px;
        border-radius: 50%;
      }

      .comment-editor-container {
        width: $width-page+-$thumbnailImgDimen+-18px;
        min-height: $thumbnailImgDimen;
        display: flex;
        padding: 7px 2px;
        box-sizing: border-box;

        .comment-editor {
          width: 100%;
          font-size: 0.9rem;
          box-sizing: border-box;
          border-radius: 18px;
          outline: none;
          border: 1px #61dafb solid;
          padding: 10px;
          overflow: hidden;
          cursor: text;
        }

        .comment-editor:empty:before {
          content: attr(placeholder);
          color: #a9a9a9;
        }
      }
    }
  }

  .comments-container {
    padding: 10px;

    .comment {
      display: flex;

      .avatar {
        width: $thumbnailImgDimen+-8px;
        height: $thumbnailImgDimen+-8px;
        margin-right: 6px;
        border-radius: 50%;
      }

      .comment-box{
        width: 100%;
      }

      .fullname {
        font-size: 0.87rem;
        padding-top: 3px;
        margin: 0;
        display: inline;
      }

      .username {
        font-size: 0.84rem;
        padding-top: 3px;
        margin: 0 0 0 4px;
        color: #9992a0;
        display: inline;
      }

      .content {
        margin: 0;
        padding: 5px 0;
        font-size: 0.9rem;
      }

      .interact-comment {
        display: flex;
        margin: 6px 0;
        font-size: 1rem;

        span {
          cursor: pointer;
          color: #8ce9fa;
          text-align: center;
          margin: 0 6px;

          i {
            margin-right: 6px;
          }
        }

        span:hover {
          color: #244885;
        }
        .time-published {
          font-size: 0.75rem;
          color: #9992a0;
          padding: 0;
          margin: 3px 0 0 0;
          display: block;
        }
      }
    }
  }
}

#nav-container {
  width: 100%;
  background-color: #61dafb;
  position: fixed;
  top: 0;
  height: $navbarHeight;

  #nav-bar {
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width: 1010px) {
      width: 100%;
      padding: 0 40px;
      box-sizing: border-box;
    }
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #search {
      padding: 8px 16px;
      font-size: 1rem;
      border-radius: $radius;
      border: none;
      outline: none;
    }

    #log-out-button {
      padding: 8px 16px;
      font-size: 1rem;
      background-color: #4497f1;
      border-radius: $radius;
      font-weight: 600;
      color: #fff;
    }

    #log-out-button:hover {
      background-color: $btnHoveredColor;
    }

    #log-out-button:disabled {
      background-color: $btnColorOpaque;
    }
  }
}

