@import "src/utils/variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";

html, body {
  height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0);
  min-width: 100%;
}

#signUpForm {

}

#background {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../../resources/wallpaper.jpg') no-repeat;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  z-index: -100;
}

#background:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  z-index: -99;
}

.auth-form {
  //VARIABLES
  --authBackColor: rgba(97, 218, 251, 0.35);
  --btonBackColor: rgba(68, 161, 241, 0.6);
  --btonSelectBackColor: rgba(53, 133, 241, 0.6);
  --btonHoverBackColor: rgba(68, 151, 241, 0.6);
  //STYLYING

  display: block;
  float: right;
  background-color: var(--authBackColor);
  width: 55vw;
  max-width: 640px;
  padding: 0 50px 50px 50px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


  button {
    width: 50%;
    padding: 18px 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    background-color: var(--btonBackColor);
    color: #d5d5d5;
    text-decoration: none;
  }

  button.selected {
    background-color: var(--btonSelectBackColor);
    color: white;
  }

  button:hover {
    background-color: var(--btonHoverBackColor);
    color: #ebebeb;
  }

  form {
    div {
      width: 100%;

      input {
        width: 100%;
        box-sizing: border-box;
        margin-top: 4vh;
        padding: 8px 15px;
        outline: none;

      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        color: #fff !important;
        -webkit-animation: autofill 0s forwards;
        animation: autofill 0s forwards;
      }

      @keyframes autofill {
        100% {
          background: transparent;
          color: inherit;
        }
      }

      input.invalid-input {
        border-bottom: 2px solid #f00;
      }

      .error-message {
        min-height: 14px;
        padding-top: 5px;
        padding-left: 6px;
        color: #b62020;
        font-size: 0.9rem;
        font-family: Oswald, serif;

        * {
          margin: 0 2px;
        }
      }
    }

    button {
      width: 100%;
      margin-top: 4vh;
      display: block;
      font-size: 1.5rem;
      padding: 18px 0;
      text-transform: uppercase;
      color: #f4f4f4;
      opacity: 1.0;
    }

    button:hover {
      opacity: 0.85;
    }

    p {
      color: #ffffff;
      font-size: 2rem;
      margin-bottom: 0;
      padding: 0;
      font-family: Montserrat, Verdana, serif;
    }

    .title {
      text-align: center;
      font-size: 28px;
      margin-top: 4vh;
      position: relative;
    }

    .input_style1 {
      border: none;
      background: none;
      color: white !important;
      border-bottom: 2px solid #8b9dc3;
      font-family: Montserrat, Verdana, serif;
      transition: 400ms;
    }

    .input_style1:focus {
      border-bottom: 2px solid #f2f2f2;

    }

    .input_style1::placeholder {
      color: white;
      font-family: Montserrat, Verdana, serif;
      padding: 0 0 0 5px;
    }

    .loginInput {
      padding-left: 18px;
    }

    .inputFrame {
      position: relative;
      top: 0.2vh;
    }

    .inputIcon {
      position: absolute;
      z-index: 10;
      top: 52%;
    }
  }
}