@import "src/utils/variables";

.post {
  background-color: #fff;
  margin-top: 12px;
  border-radius: $radius;
  padding: 4px;

  .userProfile {
    display: flex;
    padding: 8px 8px 0 8px;

    .avatar {
      margin-right: 6px;
    }

    .fullname {
      font-size: 0.9rem;
      padding-top: 3px;
      margin: 0;
      text-decoration: none;
      color: #000;

      :hover {
        text-decoration: underline;
        color: #383838;
      }

      p {
        margin: 0;
        display: inline;
      }
    }

    .username {
      font-size: 0.86rem;
      padding-top: 3px;
      margin: 0 0 0 4px;
      color: #9992a0;
      display: inline;
    }

    .linkPost {
      &:hover {
        text-decoration: underline;
      }
    }

    .timePublished {
      font-size: 0.75rem;
      color: #9992a0;
      padding: 0;
      margin: 3px 0 0 0;
      display: block;
    }
  }

  .content {
    .text {
      margin: 0 0 0 50px;
      padding: 0 10px 10px 10px;
      white-space: pre-wrap;
      //noinspection CssInvalidPropertyValue
      overflow-wrap: anywhere;
    }

    img {
      width: $main-width-page;
      max-width: 100%;
    }
  }

  .content.uploading {
    opacity: 0.5;
  }

  .interact {
    display: flex;
    justify-content: space-evenly;
    margin: 0 6px;
    font-size: 1.04rem;
    padding: 10px 40px;
    user-select: none;

    span {
      cursor: pointer;
      color: $interactColor;
      width: 100%;
      text-align: center;

      i {
        margin-right: 6px;
      }
    }

    span:hover {
      color: $interactHoveredColor;
    }

    span:focus {
      outline: none;
    }

    .selected {
      color: $interactHoveredColor;
    }
  }

  .loadPreviousComments {
    padding: 6px 14px;
    cursor: pointer;

    span {
      color: $interactColor;
      font-size: 0.92rem;

      i {
        margin-right: 4px;
        font-size: 0.92rem;
      }

      .showMoreComments {
        margin-right: 4px;
      }

      .loadingComments {
        margin-left: 4px;
      }
    }

    span:hover {
      text-decoration: underline;
    }
  }
}