@import "src/utils/variables";

$search-width: 270px;
$search-width-sm: 220px;

.nav-container {
  width: 100%;
  background-color: #61dafb;
  position: fixed;
  top: 0;
  height: $navbarHeight;

  .nav-bar {
    width: 60%;
    margin: 0 auto;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .news-feed-type {
      display: flex;
      height: 100%;

      ul {
        color: #fff;
        font-weight: 600;
        font-size: 1.1rem;
        box-sizing: border-box;
        height: 100%;
        margin: 0;
        padding: 0 14px;
        display: flex;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;

        a {
          color: #fff;
          text-decoration: none;
          margin: auto auto;
        }
      }

      ul.selected {
        border-bottom: 2px solid #2c80d0;
      }
    }

    .search-container {
      text-align: center;

      .search-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;

        .fa-search {
          font-size: 1rem;
          color: $btnColor;
          padding: 8px;
        }
      }

      .search-box {
        padding: 8px 16px 8px 30px;
        width: $search-width;
        box-sizing: border-box;
        font-size: 1rem;
        border-radius: $radius;
        border: none;
        outline: none;
      }
    }

    .search-results {
      width: $search-width;
      position: absolute;
      top: $navbarHeight;
      max-height: 400px;
      overflow-y: auto;
      background-color: #fff;
      box-shadow: rgba(101, 119, 134, 0.2) 0 0 15px, rgba(101, 119, 134, 0.15) 0 0 3px 1px;

      .person {
        margin: 0;
        padding: 10px;
        display: flex;
        cursor: pointer;
        border-bottom: 1px solid #e2e2e2;

        img {
          width: $thumbnailImgDimen+-8px;
          height: $thumbnailImgDimen+-8px;
        }

        div {
          margin-left: 4px;
          display: flex;
          height: auto;
          flex-wrap: wrap;
          align-content: center;

          p {
            margin: 1.2px 0;
            width: 100%;
            font-size: 0.85rem;
          }

          .username {
            color: #97a5af;
          }
        }
      }
    }

    .log-out-button {
      padding: 8px 16px;
      font-size: 1rem;
      background-color: #4497f1;
      border-radius: $radius;
      font-weight: 600;
      color: #fff;
    }

    .log-out-button:hover {
      background-color: $btnHoveredColor;
    }

    .log-out-button:disabled {
      background-color: $btnColorOpaque;
    }

    @media screen and (max-width: 1150px) {
      width: 100%;
      padding: 0 60px;
      box-sizing: border-box;
    }
    @media screen and (max-width: 750px) {
      padding: 0;
      width: 90%;

      .search-container {
        .search-box {
          font-size: 0.88rem;
          width: $search-width-sm;
        }
      }
      .search-results {
        width: $search-width-sm;
      }
      .log-out-button {
        font-size: 0.88rem;
      }
    }
    @media screen and (max-width: 400px) {
      .search-container {
        .search-box {
          font-size: 0.88rem;
          width: $search-width-sm+-60px;
        }
      }
      .search-results {
        width: $search-width-sm+-60px;
      }
    }
  }
}