@import "src/utils/variables";

.cameraInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.coverInput + label {
  color: rgb(211, 210, 210);
  font-size: 1.5rem;
  cursor: pointer;
  margin: auto auto auto -52%;

  &:hover{
    color: #00b5ff;
  }
}


.profileInput + label {
  color: rgb(211, 210, 210);
  font-size: 1.5rem;
  cursor: pointer;
  margin: auto auto auto -87px;

  &:hover{
    color: #00b5ff;
  }
}

.coverPhotoContainer {
  width: 100%;
  min-width: 600px;
  height: 190px;
  display: flex;

  .coverPhoto {
    object-fit: cover;
    background-color: #5aa6fb;
    width: 100%;
    height: 100%;
  }

}

.userInfo {
  margin: 16px 20px;
  display: flex;
  flex-direction: column;

  .profilePhotoContainer {
    margin-top: -80px;
    display: flex;

    .profilePhoto {
      box-sizing: border-box;
      background-color: #fff;
    }
  }

  input {
    font-size: 1rem;
    color: #323232;
    margin: 8px 0;
    outline: none;
    border: 1px solid #5aa6fb;
    border-radius: 8px;
    padding: 6px 8px;
  }

  .fullname {

  }

  .username {

  }

  .description {

  }
}

.loading {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  border-radius: $radius;
  background-color: rgba(12, 0, 1, 0.55);
}