@import "src/utils/variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";

html,body{height:100%;} 

body{
background-color:rgba(0,0,0,0);
min-width:100%;
}

#signUpForm{
  margin:-2vh;
}

#background {
  position: absolute; 
  top: 0; 
  left: 0; 
  background: url('../../resources/wallpaper.jpg') no-repeat;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-size:cover;
  z-index:-100;
}

#background:before{
  content:'';
  background-color:rgba(0,0,0,0.6);
  position: absolute; 
  top: 0; 
  left: 0; 
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-size:cover;
  z-index:-99;
}

.auth-form {
//VARIABLES
--authBackColor: rgba(97, 218, 251,0.6);
--btonBackColor: rgba(68, 161, 241,0.6);
--btonSelectBackColor: rgba(53, 133, 241,0.6);
--btonHoverBackColor: rgba(68, 151, 241,0.6);
//STYLYING

  display:block;
  float:right;
  background-color: var(--authBackColor);
  width: 40vw;
  height: 89.7vh;
  padding: 0px 50px 50px 50px;
  margin: 0 auto;
  box-shadow: -5 2px 2px 0 rgba(0, 0, 0, 0.14), -5 3px 1px -2px rgba(0, 0, 0, 0.12), -5 1px 5px 0 rgba(0, 0, 0, 0.20);


  button {
    width: 50%;
    padding: 18px 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    background-color: var(--btonBackColor);
    color: #d5d5d5;
    text-decoration: none;
  }

	#createAccount{
	  margin-top:0px;
	}

  button.selected {
    background-color: var(--btonSelectBackColor);
    color: white;
  }

  button:hover {
    background-color: var(--btonHoverBackColor);
    color: #ebebeb;
  }

  form {
    div {
      width: 100%;

      input {
        width: 100%;
        box-sizing: border-box;
        margin-top: 40px;
        padding: 8px 15px;
        outline: none;
        
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        color: #fff !important;
        -webkit-box-shadow: 0 0 0 30px rgba(97, 218, 251,0.6) inset !important;
      }

      input.invalid-input {
        border-bottom: 2px solid #f00;
      }

      .error-message {
        min-height: 14px;
        padding-top: 5px;
        padding-left: 6px;
        color: #b62020;
        font-size: 0.9rem;
		font-family: Oswald;
        * {
          margin: 0 2px;
        }
      }
    }

    button {
      width: 100%;
      display: block;
      font-size: 1.5rem;
      padding: 18px 0;
      text-transform: uppercase;
      color: #f4f4f4;
    }

    button:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
    }

    p {
      color: #ffffff;
      font-size: 2rem;
      margin-bottom: 0;
      padding: 0;
	  font-family: Montserrat, Verdana;
    }
	
	.title{
	  text-align: center;
	  font-size: 28px;
	}
	
	.input_style1{
	  border:none;
	  background: none;
	  color: white;
	  border-bottom: 2px solid #8b9dc3;
	  font-family: Montserrat, Verdana;
	  transition: 400ms;
	}
	
	.input_style1:focus{
	  border-bottom: 2px solid #f2f2f2;

	}
	
	.input_style1::placeholder{
	  color:white;
	  font-family: Montserrat, Verdana;
	  padding: 0px 0px 0px 5px;
	}
	
	.loginInput{
	  padding-left:18px;
	}
	
	.inputFrame{
	  position:relative;
	  top:-5vh;
    }
	
	
	.inputIcon{
	  position:absolute;
	  z-index: 10;
	  top: 52%;
	}

  }
}