.auth-form {
  background-color: #61dafb;
  width: 500px;
  padding: 50px;
  margin: 0 auto;

  button {
    width: 50%;
    padding: 18px 10px;
    margin-top: 30px;
    font-size: 1.3rem;
    background-color: #44a1f1;
    color: #d5d5d5;
    box-shadow: none;
    text-decoration: none;
  }

  button.selected {
    background-color: #3585f1;
    color: white;
  }

  button:hover {
    background-color: #4497f1;
    box-shadow: none;
    color: #ebebeb;
  }

  form {
    div {
      width: 100%;

      input {
        width: 100%;
        box-sizing: border-box;
        margin-top: 22px;
        padding: 10px 15px;
        border: none;
        outline: none;
        border-radius: 5px;
      }

      input:focus {
        box-shadow: 0 0 0 2px #2c80d0;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        color: #fff !important;
        -webkit-box-shadow: 0 0 0 30px #ddf8ff inset !important;
      }

      input.invalid-input {
        border: 2px solid #f00;
      }

      .error-message {
        min-height: 14px;
        padding-top: 5px;
        padding-left: 6px;
        color: red;
        font-size: 0.8rem;

        * {
          margin: 0 2px;
        }
      }
    }

    button {
      width: 100%;
      display: block;
      font-size: 1.5rem;
      padding: 18px 0;
      text-transform: uppercase;
      color: #f4f4f4;
    }

    button:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
    }

    p {
      width: 100%;
      color: #ffffff;
      font-size: 2rem;
      margin-bottom: 0;
      text-align: center;
      padding: 0;
    }
  }
}