@import "utils/variables";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.selectableBackground {
  border-radius: 100%;
  display: flex;
  padding: 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  transition: background 150ms ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.14);
  }
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.8px;
  transition: background 250ms ease-in-out,
  transform 350ms ease;
  outline: none;

  &:hover {
    box-shadow: 0 0 5px rgba(81, 167, 232, .5);
  }
}

.hide {
  display: none !important;
}

.leftSection {
  width: $secondary-section_width;
  margin: 12px 0;
}

.mainSection {
  width: $main-width-page;
  margin: 12px;
  background-color: transparent;
}

.rightSection {
  width: $secondary-section_width;
  margin: 12px 0;
}