@import "src/utils/variables";

$height-chat: 44px;

.bubbleChat {
  margin-right: 16px;
  width: 310px;
  transition: width 250ms ease-in-out, transform 300ms ease;
  min-height: $height-chat;
  box-shadow: 0 2px 4px rgba(100, 100, 100, 0.5);
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;

  &.hide {
    width: 220px;

    .userDetails {
      a {
        pointer-events: none !important;
        cursor: default !important;

        &:hover {
          text-decoration: none !important;
        }
      }
    }
  }

  .header {
    background-color: #0da6f6;
    min-height: $height-chat;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .userDetails {
      display: flex;
      align-items: center;

      .title {
        color: #fff;
        font-size: 0.96rem;
        margin-left: 10px;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .controls {
      display: flex;
      align-items: center;

      i {
        color: #fff;
        font-size: 1rem;
      }
    }
  }

  .content {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 350px !important;
    overflow-y: auto;
    transition: height,max-height 500ms ease-in-out, transform 600ms ease;

    @media (max-height: 700px) {
      height: 55vh !important;
    }

    &.hide {
      max-height: 0;
      height: 0;
      padding: 0;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 8px;
    }

    .loading {
      margin: 0 auto;
      width: fit-content;
      padding: 44px 0;
    }
  }

  .footer {
    min-height: 40px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #b6b6b6;

    .inputMessage {
      border: none;
      outline: none;
      width: 100%;
      font-size: 0.93rem;
      padding: 6px 10px;
      overflow: hidden;
      cursor: text;
      overflow-wrap: break-word;

      &:empty:before {
        content: attr(placeholder);
        color: #b6b6b6;
      }

      //&::placeholder {
      //  color: #b6b6b6;
      //}
    }
  }
}


.message {
  width: 100%;
  margin: 4px 0;
  display: flex;
  align-items: center;

  &:hover {
    .icon {
      display: flex !important;
    }
  }

  .text {
    max-width: 65%;
    padding: 10px 12px;
    font-size: 0.88rem;
    line-height: normal;
    border-radius: $radius*2;
    //noinspection CssInvalidPropertyValue
    overflow-wrap: anywhere;
  }

  .icon {
    color: #aaaaaa;
    margin: 0 8px;
    width: 26px;
    height: 26px;
    font-size: 0.9rem;
    display: none;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #e0dfdf;
      border-radius: 50px;
      cursor: pointer;
    }
  }

  &.received {

    .text {
      background-color: #E4E6EB;
      color: #313131;
      margin: 0 0 0 8px;
    }
  }

  &.sent {
    justify-content: flex-end;

    .text {
      background-color: #0da6f6;
      color: #f7fffc;
      margin: 0;
    }
  }
}